/OneDrive/Documentos/NetBeansProjects/JavaFXApplication4SLEEP/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/JavaFXApplication4SLEEP/build/
/OneDrive/Documentos/NetBeansProjects/JavaFXApplication4SLEEP/dist/